<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Collapsible Blocks</h1>
  </div>
  <div data-role="main">
<h1><span style="color: #3366ff;">Ansible Lightbulb Workshop - lightbulb.rhdemo.io</span></h1>
<h2>Github for Ansible Lightbulb:</h2>
<h2><a href="https://github.com/ansible/lightbulb">https://github.com/ansible/lightbulb</a></h2>
<h3>Slide decks can be found at the link above.</h3>
<h2><span style="color: #ff0000;"><strong>Links to lab materials:</strong></span></h2>
<h2><a href="http://lightbulb.rhdemo.io/decks/ansible-essentials.html#/" target="_blank" rel="noopener"><strong>DECK: Ansible Essentials</strong></a></h2>
<h2><a href="http://lightbulb.rhdemo.io/decks/intro-to-ansible-tower.html" target="_blank" rel="noopener"><strong>DECK: Intro to Tower</strong></a></h2>
<h2><a href="http://ansible.redhatgov.io/standard/core/index.html" target="_blank" rel="noopener"><strong>LAB Guide and Hands-on Exercises</strong></a></h2>
<h2><strong>-----------------------------------------------</strong></h2>
<h2><a href="http://lightbulb.rhdemo.io/ansible_tower_license.txt" target="_blank" rel="noopener"><strong>5-Node NFR Lightbulb License is available here.</strong></a></h2>
<h3><span style="color: #ff0000;">Right click and save the file above to your desktop</span></h3>
<h2><strong>Access your control nodes using the following methods:</strong></h2>
<h2><strong>SSH or Web:</strong></h2>
<p><strong>Username: <span style="color: #ff0000;">student&lt;your student number&gt;</span></strong></p>
<p><strong>Password: <span style="color: #ff0000;">r3dh4t</span></strong></p>
<p><strong><a href="http://FSI-student&lt;your">http://FSI-student&lt;your student number&gt;.rhdemo.io:8080</a></strong></p>
<p><strong>File Manager and Web Editor:</strong></p>
<p><strong><a href="http://FSI-student&lt;you">http://FSI-student&lt;your student number&gt;.rhdemo.io:8081</a></strong></p>
<p>&nbsp;</p>
<h2><strong>Click here for some useful notes.</strong></h2>
<p>_______________________________________________________________</p>

<hr>
  </div>
{% for user in users %}
  <div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>{{ user.username }} - Click to see details!</h1>
      <p>[all:vars]<br />
ansible_user={{ user.username }}<br />
ansible_ssh_pass={{ admin_password }}<br />
{% if ssh_port is defined %}<br />
ansible_port={{ ssh_port }}<br />
{% endif %}
<br />
[web]<br />
{% for grouper, list in instances.results|groupby('item') if grouper.item[0] == user %}
{% for vm in list %}
{% if 'control' not in vm.invocation.module_args.instance_tags.Name and 'haproxy' not in vm.invocation.module_args.instance_tags.Name%}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-(node)(\\d)', '\\1-\\2') }} ansible_host={{ vm.tagged_instances[0].public_ip }}<br />
{% endif %}
{% endfor %}
{% endfor %}
<br />
[control]<br />
{% for grouper, list in instances.results|groupby('item') if grouper.item[0] == user %}
{% for vm in list %}
{% if 'control' in vm.invocation.module_args.instance_tags.Name %}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-([\\w]*)', '\\1') }} ansible_host={{ vm.tagged_instances[0].public_ip }}<br />
{% endif %}
{% endfor %}
{% endfor %}</p>
    </div>
  </div>
{% endfor %}
  <div data-role="footer">
    <h1>Thanks for participating!</h1>
  </div>
</div>

</body>
</html>
