[all:vars]
hostname={{ workspace_ips[item|int] }}
username=admin
password={{workshop_password}}
netapp_hostname={{ workspace_ips[item|int] }}
netapp_username=admin
netapp_password={{workshop_password}}
