netapp_hostname={{ workspace_ips[item|int] }}
netapp_username=admin
netapp_password={{svm_password}}

[ontap]
ontap-mgr ansible_host={{ workspace_ips[item|int] }} ansible_password={{ workshop_password }}
