{
  "name": "{{ ec2_name_prefix }}_{{ item.username }}",
    "snapshotPolicyName": "default",
    "name": "{{ ec2_name_prefix }}_{{ item.username }}",
    "enableThinProvisioning": true,
    "enableDeduplication": true,
    "enableCompression": true,
  "tenantId": "workspace-Xkuz4F5D",
  "region": "us-east-1",
  "packageName": "aws_poc",
  "dataEncryptionType": "AWS",
  "vsaMetadata": {
    "ontapVersion": "ONTAP-9.6.T1",
    "licenseType": "cot-explore-paygo",
    "instanceType": "m5.xlarge"
  },
  "writingSpeedState": "NORMAL",
  "subnetId": "{{ ec2_vpc_subnet_id }}",
  "svmPassword": "{{svm_password }}",
  "vpcId": "{{ ec2_vpc_id }}",
  "ontapEncryptionParameters": null,
  "ebsVolumeType": "gp2",
  "ebsVolumeSize": {
    "size": 100,
    "unit": "GB",
    "_identifier": "500 GB"
  },
  "awsTags": [],
  "optimizedNetworkUtilization": false,
  "instanceTenancy": "default",
  "iops": null,
  "cloudProviderAccount": "{{ cloud_cred }}"
}
