[Unit]
Description="Cloud Commander"
After=network.target auditd.service
[Service]
ExecStart=/usr/local/lib/npm/bin/cloudcmd -a -u "{{ username }}" -p {{ admin_password }} --root /home/{{ username }} --one-panel-mode
Restart=always
[Install]
WantedBy=multi-user.target
